
body {
    background-color: #dfec71;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.container {
    max-width: 960px;
}

/*
 * Custom translucent site header
 */

.site-header {
    background-color: rgba(0, 0, 0, .85);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}

.site-header a {
    color: #dfec71;
    transition: ease-in-out color .15s;
}

.site-header a:hover {
    color: #dfec71;
    text-decoration: none;
}

/*
 * Dummy devices (replace them with your own or something else entirely!)
 */

.product-device {
    position: absolute;
    right: 10%;
    bottom: -30%;
    width: 300px;
    height: 540px;
    background-color: #333;
    border-radius: 21px;
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
}

.product-device::before {
    position: absolute;
    top: 10%;
    right: 10px;
    bottom: 10%;
    left: 10px;
    content: "";
    background-color: rgba(255, 255, 255, .1);
    border-radius: 5px;
}

.product-device-2 {
    top: -25%;
    right: auto;
    bottom: 0;
    left: 5%;
    background-color: #e5e5e5;
}


/*
 * Extra utilities
 */

.flex-equal > * {
    -ms-flex: 1;
    flex: 1;
}

@media (min-width: 768px) {
    .flex-md-equal > * {
        -ms-flex: 1;
        flex: 1;
    }
}

.overflow-hidden {
    overflow: hidden;
}

.form-container {
    margin: 50px 0 100px 0;
    padding: 0 12px 0 12px;
    box-shadow: 1px 1px 5px 10px #CCCCCC;
    align-items: center;

}

.form-input-row {
    margin: 16px 0 16px 0;
    padding: 0 5px 0 5px;
}

.form-button-row {
    margin: 16px 0 16px 0;
    padding: 0 5px 0 5px;
}

div.sticky-left {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    left: 0;
}

.sebix-logo {
}

.row-footer {
    offset-before: 20%;
}


.sebix-green { color: #dfec71;
}

.antiquewhite {
    color: antiquewhite;
}

a:link {
    color: #dfec71;
}

li:link{
    color: #dfec71;
}

div:link{
    color: #dfec71;
}

/* unvisited link */
a:link {
    color: #dfec71;
}

/* visited link */
a:visited {
    color: #dfec71;
}

/* mouse over link */
a:hover {
    color: #dfec71;
}

/* selected link */
a:active {
    color: #dfec71;
}

li:link {
    color: #dfec71;
}

/* visited link */
li:visited {
    color: #dfec71;
}

/* mouse over link */
li:hover {
    color: #dfec71;
}

/* selected link */
li:active {
    color: #dfec71;
}

div:link {
    color: #dfec71;
}

/* visited link */
div:visited {
    color: #dfec71;
}

/* mouse over link */
div:hover {
    color: rgba(14, 60, 136, 1);
}

/* selected link */
div:active {
    color: #dfec71;
}

.dropdown-item {
    background: black;
    color: #dfec71;
}

.nav-link {
 color: #dfec71;
}

.nav-item {
    color: #3c3a37;
}

.navbar-dark .navbar-nav .show > .nav-link, .navbar-dark .navbar-nav .active >
.nav-link, .navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .nav-link.active {
    color: #dfec71;
}

.navbar-dark .navbar-nav .nav-link {
    color: #dfec71;
}

.container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    width: 60%;
}

.blink_me {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.logout-black {
    color: #3c3a37;
}


.logout-black:hover{
    color: #3c3a37;
}