<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
    <th:block th:replace="fragments :: link-styles" th:remove="tag"/>
</head>
<body>
<th:block th:replace="fragments :: navigator" th:remove="tag"/>
<div class="container">
    <h1>Sebix-Rent</h1>
    <div><p><b>Sebix-Rent</b>'s story dates back to 4.11.2019, when the company was founded in Poland to assist Polish people with car
        hire while visiting relatives in Europe or even in Poland. Ever since over a week our business concept has notably developed.
        Nowadays we are proud to offer our customers a comprehensive service, including not only car hire,
        but also nothing else as well as advisory service.</p>
        <p>We make sure that our customers are well catered for, therefore we cooperate closely with the major
        international suppliers such as Avis, Budget, Europcar and PKP, TLK, PK and even Flixbus or PKS and also a great number of regional suppliers - Trafficar or Lime.
        <i>The customer's satisfaction stands at the core of our business at all times.</i></p></div>
</div>
<th:block th:replace="fragments :: footer" th:remove="tag"/>
<th:block th:replace="fragments :: scripts" th:remove="tag"/>
</body>
</html>