<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Client edit</title>
    <th:block th:replace="fragments :: link-styles" th:remove="tag"/>
</head>
<body>
<th:block th:replace="fragments :: navigator" th:remove="tag"/>
<div class="container">
    <h1>Client edit</h1>
    <form th:action="@{/user/edit}" method="post" th:object="${account}">
        <div class="row col-12 form-container">

            <input type="hidden" th:field="*{id}" th:value="*{id}">

            <div class="row col-md-12 form-input-row">
                <div class="col-md-6">
                    <label for="name">Name:</label>
                </div>
                <div class="col-md-6">
                    <input class="form-control" type="text" id="password" th:name="newPassword">
                </div>
            </div>
            <!--<div class="row col-md-12 form-input-row">-->
                <!--<div class="col-md-6">-->
                    <!--<label for="idCar">Car id:</label>-->
                <!--</div>-->
                <!--<div class="col-md-6">-->
                    <!--<input class="form-control" type="number" id="idCar" th:name="idCar" th:value="*{idCar}">-->
                <!--</div>-->
            <!--</div>-->

            <!--<div class="row col-md-12 form-input-row">-->
                <!--<div class="col-md-6">-->
                    <!--<label for="username">Username:</label>-->
                <!--</div>-->
                <!--<div class="col-md-6">-->
                    <!--<input class="form-control" type="text" id="username" th:name="username" th:value="*{username}">-->
                <!--</div>-->
            <!--</div>-->


            <!--<div class="row col-md-12 form-input-row">-->
                <!--<div class="col-md-6">-->
                    <!--<label for="password">Password:</label>-->
                <!--</div>-->
                <!--<div class="col-md-6">-->
                    <!--<input class="form-control" type="text" id="password" th:name="password">-->
                <!--</div>-->
            <!--</div>-->

            <div class="row col-md-12 form-input-row">
                <div class="col-md-6">
                    <label for="name">Name:</label>
                </div>
                <div class="col-md-6">
                    <input class="form-control" type="text" id="name" th:name="name" th:value="*{name}">
                </div>
            </div>

            <div class="row col-md-12 form-input-row">
                <div class="col-md-6">
                    <label for="surname">Surame:</label>
                </div>
                <div class="col-md-6">
                    <input class="form-control" type="text" id="surname" th:name="surname" th:value="*{surname}">
                </div>
            </div>

            <div class="row col-md-12 form-input-row">
                <div class="col-md-6">
                    <label for="email">Email:</label>
                </div>
                <div class="col-md-6">
                    <input class="form-control" type="text" id="email" th:name="email" th:value="*{email}">
                </div>
            </div>

            <div class="row col-md-12 form-button-row">
                <div class="col-md-6">
                    <button type="reset" class="btn btn-warning offset-3 col-md-6">Reset</button>
                </div>

                <!--<div class="col-md-12">-->
                <!--<div class="col-md-4">-->
                <!--<a th:href="@{${referer}}">-->
                <!--<button type="button" class="btn btn-primary offset-3 col-md-6">Back</button>-->
                <!--</a>-->
                <!--</div>-->
                <!--</div>-->

                <div class="col-md-6">
                    <button type="submit" class="btn btn-primary offset-3 col-md-6">Submit</button>
                </div>
            </div>

            <!--<div class="row col-md-12 form-input-row">-->
                <!--<div class="col-md-6">-->
                    <!--&lt;!&ndash;<label for="email">Email:</label>&ndash;&gt;-->
                <!--</div>-->
                <!--<div class="col-md-6">-->
                    <!--<a th:href="@{/user/edit(accountId=${account.getId()})}">-->
                        <!--<button type="button" class="btn btn-primary">-->
                            <!--Edit-->
                        <!--</button>-->
                    <!--</a>-->
                <!--</div>-->
            <!--</div>-->


        </div>
    </form>
</div>
<th:block th:replace="fragments :: footer" th:remove="tag"/>
<th:block th:replace="fragments :: scripts" th:remove="tag"/>
</body>
</html>