<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rentals</title>
    <th:block th:replace="fragments :: link-styles" th:remove="tag"/>
</head>
<body>
<th:block th:replace="fragments :: navigator" th:remove="tag"/>
<div class="container">
    <h1>Booking list</h1>
    <div class="row col-md-12">
        <div class="row col-md-12 list-header-row">
            <div class="col-1 font-weight-bold">Booking id</div>
            <div class="col-2 font-weight-bold">Booking date</div>
            <div class="col-2 font-weight-bold">Booking start</div>
            <div class="col-2 font-weight-bold">Rental days</div>
            <div class="col-2 font-weight-bold">Car</div>
            <div class="col-1 font-weight-bold">Canceled</div>
            <div class="col-2 font-weight-bold"><!--Buttons--></div>
        </div>
        <div th:each="booking : ${bookings}" class="row col-md-12 list-data-row" th:if="${!booking.isCarRented()}">
            <!--<div class="col-1" th:if="${!booking.isAccepted()}" th:text="${booking.getIdBooking()}"></div>-->
            <div class="col-1" th:text="${booking.getIdBooking()}"></div>
            <div class="col-2" th:text="${booking.getBookingDate()}"></div>
            <div class="col-2" th:text="${booking.getDateStart()}"></div>
            <div class="col-2" th:text="${booking.getHiresDays()}"></div>
            <div class="col-2" th:text="${booking.getCar().getName()}"></div>
            <div class="col-1" th:text="${booking.isCanceled()}"></div>
            <div class="row col-2">
                <div class="col-12">
                    <a
                       th:href="@{/carRent/add_rent(idBooking=${booking.getIdBooking()})}">
                        <button type="button" class="btn btn-danger">
                            Rental
                        </button>
                    </a>
                </div>
                <!--<div class="col-4">-->
                <!--<a th:href="@{/car/edit(carId=${car.getIdCar()})}">-->
                <!--<button type="button" class="btn btn-primary">-->
                <!--Edit-->
                <!--</button>-->
                <!--</a>-->
                <!--</div>-->
                <!--<div class="col-4">-->
                <!--<a th:href="@{/car/details(carId=${car.getIdCar()})}">-->
                <!--<button type="button" class="btn btn-primary">-->
                <!--Details-->
                <!--</button>-->
                <!--</a>-->
                <!--</div>-->
            </div>
        </div>

        <div class="row col-md-12 justify-content-center">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item" th:if="${bookings.getNumber() >0}">
                        <a class="page-link"
                           th:href="@{/booking/list_bookings(page=${bookings.getNumber()-1}, size=${bookings.getSize()})}">Previous</a>
                    </li>
                    <li class="page-item"
                        th:each="number : ${#numbers.sequence(bookings.getNumber()-3, bookings.getNumber()-1)}"
                        th:if="${number >=0}">
                        <a class="page-link"
                           th:href="@{/booking/list_bookings(page=${number}, size=${bookings.getSize()})}"
                           th:text="${number + 1}"></a>
                    </li>
                    <li class="page-item"
                        th:each="number : ${#numbers.sequence(bookings.getNumber(), bookings.getNumber()+3)}"
                        th:if="${number< bookings.getTotalPages()}">
                        <a class="page-link"
                           th:href="@{/booking/list_bookings(page=${number}, size=${bookings.getSize()})}"
                           th:text="${number + 1}"></a>
                    </li>
                    <li class="page-item" th:if="${bookings.getNumber() < bookings.getTotalPages()-1}">
                        <a class="page-link"
                           th:href="@{/booking/list_bookings(page=${bookings.getNumber()+1}, size=${bookings.getSize()})}">Next</a>
                    </li>
                </ul>
            </nav>
        </div>

    </div>
</div>
<th:block th:replace="fragments :: footer" th:remove="tag"/>
<th:block th:replace="fragments :: scripts" th:remove="tag"/>
</body>
</html>