<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Car add</title>
    <th:block th:replace="fragments :: link-styles" th:remove="tag"/>
</head>
<body>
<th:block th:replace="fragments :: navigator" th:remove="tag"/>
<div class="container">
    <h1>Car add</h1>
    <form th:action="@{/grunt/add_car}" method="post" th:object="${car}">
        <div class="row col-12 form-container">

            <input type="hidden" th:field="*{idCar}" th:value="*{idCar}">

            <div class="row col-md-12 form-input-row">
                <div class="col-md-6">
                    <label for="name">Name:</label>
                </div>
                <div class="col-md-6">
                    <input class="form-control" type="text" id="name" th:name="name">
                </div>
            </div>

            <div class="row col-md-12 form-input-row">
                <div class="col-md-6">
                    <label for="regNr">Reg nr:</label>
                </div>
                <div class="col-md-6">
                    <input class="form-control" type="text" minlength="5" id="regNr" th:name="regNr">
                </div>
            </div>

            <div class="row col-md-12 form-input-row">
                <div class="col-md-6">
                    <label for="price">Price:</label>
                </div>
                <div class="col-md-6">
                    <input class="form-control" type="number" min="0" step="0.01" id="price" th:name="price">
                </div>
            </div>

            <div class="row col-md-12 form-input-row">
                <div class="col-md-6">
                    <label for="mileage">Mileage:</label>
                </div>
                <div class="col-md-6">
                    <input class="form-control" type="number" min="0" id="mileage" th:name="mileage">
                </div>
            </div>

            <div class="row col-md-12 form-input-row">
                <div class="col-md-6">
                    <label for="feeForCleaning">Fee for cleaning:</label>
                </div>
                <div class="col-md-6">
                    <input class="form-control" type="number" min="0" id="feeForCleaning" th:name="feeForCleaning">
                </div>
            </div>

            <div class="row col-md-12 form-input-row">
                <div class="col-md-6">
                    <label for="feeForFuel">Fee for fuel:</label>
                </div>
                <div class="col-md-6">
                    <input class="form-control" type="number" min="0" id="feeForFuel" th:name="feeForFuel" th:value="*{feeForFuel}">
                </div>
            </div>

            <div class="row col-md-12 form-input-row">
                <div class="col-md-6">
                    <label for="cancellationCost">Cost of cancellation:</label>
                </div>
                <div class="col-md-6">
                    <input class="form-control" type="number" min="0" id="cancellationCost" th:name="cancellationCost" th:value="*{cancellationCost}">
                </div>
            </div>

            <div class="row col-md-12 form-input-row">
                <div class="col-md-6">
                    <label for="stat">Car status:</label>
                </div>
                <div class="col-md-6">
                    <select id="stat" th:field="*{carStatus}">
                        <option th:each="status : ${statuses}" th:text="${status}" th:value="${status}"></option>
                    </select>
                </div>
            </div>

            <div class="row col-md-12 form-button-row">
                <div class="col-md-6">
                    <button type="reset" class="btn btn-warning offset-3 col-md-6">Reset</button>
                </div>
                <div class="col-md-6">
                    <button type="submit" class="btn btn-primary offset-3 col-md-6">Submit</button>
                </div>
            </div>
        </div>
    </form>
</div>
<th:block th:replace="fragments :: footer" th:remove="tag"/>
<th:block th:replace="fragments :: scripts" th:remove="tag"/>
</body>
</html>