<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Car list</title>
    <th:block th:replace="fragments :: link-styles" th:remove="tag"/>
</head>
<body>
<th:block th:replace="fragments :: navigator" th:remove="tag"/>
<div class="container">
    <h1>Car list</h1>
    <div class="row col-md-12">
        <div class="row col-md-12 list-header-row">
            <div class="col-1">Id</div>
            <div class="col-1">Name</div>
            <div class="col-1">Price</div>
            <div class="col-1">Mileage</div>
            <div class="col-1">Status</div>
            <!--<div class="col-1">Bookings</div>-->
            <div class="col-6"><!--Buttons--></div>
        </div>
        <div th:each="car : ${cars}" class="row col-md-12 list-data-row">
            <div class="col-1" th:text="${car.getIdCar()}"></div>
            <div class="col-1" th:text="${car.getName()}"></div>
            <div class="col-1" th:text="${car.getPrice()}"></div>
            <div class="col-1" th:text="${car.getMileage()}"></div>
            <div class="col-1" th:text="${car.getCarStatus()}"></div>
            <!--<div class="col-1" th:text="${car.getBookings()}"></div>-->
            <div class="row col-7">
                <!--<div class="col-6">-->
                    <!--<a th:href="@{'/car/remove/'+${car.getIdCar()}}">-->
                        <!--<button type="button" class="btn btn-danger">Remove</button>-->
                    <!--</a>-->
                <!--</div>-->
                <!--<div class="col-6">-->
                    <!--<a th:href="@{'/car/edit/'+${car.getIdCar()}}" class="col-md-12">-->
                        <!--<button type="button" class="btn btn-primary col-md-12">Edit</button>-->
                    <!--</a>-->
                <!--</div>-->
                <div class="col-4">
                    <a th:href="@{/car/remove(carId=${car.getIdCar()})}">
                        <button type="button" class="btn btn-danger">
                                Remove
                        </button>
                    </a>
                </div>
                <div class="col-4">
                    <a th:href="@{/car/edit(carId=${car.getIdCar()})}">
                        <button type="button" class="btn btn-primary">
                            Edit
                        </button>
                    </a>
                </div>
                <div class="col-4">
                    <a th:href="@{/car/bookings(carId=${car.getIdCar()})}">
                        <button type="button" class="btn btn-primary">
                            List bookings
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:replace="fragments :: footer" th:remove="tag"/>
<th:block th:replace="fragments :: scripts" th:remove="tag"/>
</body>
</html>