<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Car list</title>
    <th:block th:replace="fragments :: link-styles" th:remove="tag"/>
</head>
<body>
<th:block th:replace="fragments :: navigator" th:remove="tag"/>
<div class="container">
    <h1>Cars list - available</h1>
    <div class="row col-md-12">
        <div class="row col-md-12 list-header-row">
            <div class="col-1 font-weight-bold">Id</div>
            <div class="col-2 font-weight-bold">Name</div>
            <div class="col-2 font-weight-bold">Hire/day</div>
            <div class="col-2 font-weight-bold">Status</div>
            <div class="col-5 font-weight-bold"><!--Buttons--></div>
        </div>
        <div th:each="car : ${cars}" class="row col-md-12 list-data-row">
            <div class="col-1" th:text="${car.getIdCar()}"></div>
            <div class="col-2" th:text="${car.getName()}"></div>
            <div class="col-2" th:text="${car.getPrice()}"></div>
            <div class="col-2" th:text="${car.getCarStatus()}"></div>
            <div class="row col-5">
                <div class="col-4">
                    <a th:href="@{/car/details2(carId=${car.getIdCar()})}">
                        <button type="button" class="btn btn-warning">
                            Details
                        </button>
                    </a>
                </div>
                <div class="col-4" <!--sec:authorize="hasRole('CLIENT')-->">
                    <a th:href="@{/booking/booking_add(carId=${car.getIdCar()})}">
                        <button type="button" class="btn btn-primary">
                            Book
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <h1>Cars list - booked</h1>
    <div class="row col-md-12">
        <div class="row col-md-12 list-header-row">
            <div class="col-1">Id</div>
            <div class="col-2">Name</div>
            <div class="col-2">Hire/day</div>
            <div class="col-2">Status</div>
            <div class="col-5"><!--Buttons--></div>
        </div>
        <div th:each="car : ${carsBooked}" class="row col-md-12 list-data-row">
            <div class="col-1" th:text="${car.getIdCar()}"></div>
            <div class="col-2" th:text="${car.getName()}"></div>
            <div class="col-2" th:text="${car.getPrice()}"></div>
            <div class="col-2" th:text="${car.getCarStatus()}"></div>
            <div class="row col-5">
                <!--<div class="col-4">-->
                    <!--<a th:href="@{/account/details(carId=${car.getIdCar()})}">-->
                        <!--<button type="button" class="btn btn-warning">-->
                            <!--Details-->
                        <!--</button>-->
                    <!--</a>-->
                <!--</div>-->
                <!--<div class="col-4" &lt;!&ndash;sec:authorize="hasRole('CLIENT')&ndash;&gt;">-->
                    <!--<a th:href="@{/account/booking_add(carId=${car.getIdCar()})}">-->
                        <!--<button type="button" class="btn btn-primary">-->
                            <!--Book-->
                        <!--</button>-->
                    <!--</a>-->
                <!--</div>-->
            </div>
        </div>
    </div>

<h1>Cars list - rented</h1>
<div class="row col-md-12">
    <div class="row col-md-12 list-header-row">
        <div class="col-1">Id</div>
        <div class="col-2">Name</div>
        <div class="col-2">Hire/day</div>
        <div class="col-2">Status</div>
        <div class="col-5"><!--Buttons--></div>
    </div>
    <div th:each="car : ${carsRented}" class="row col-md-12 list-data-row">
        <div class="col-1" th:text="${car.getIdCar()}"></div>
        <div class="col-2" th:text="${car.getName()}"></div>
        <div class="col-2" th:text="${car.getPrice()}"></div>
        <div class="col-2" th:text="${car.getCarStatus()}"></div>
        <div class="row col-5">
            <!--<div class="col-4">-->
            <!--<a th:href="@{/account/details(carId=${car.getIdCar()})}">-->
            <!--<button type="button" class="btn btn-warning">-->
            <!--Details-->
            <!--</button>-->
            <!--</a>-->
            <!--</div>-->
            <!--<div class="col-4" &lt;!&ndash;sec:authorize="hasRole('CLIENT')&ndash;&gt;">-->
            <!--<a th:href="@{/account/booking_add(carId=${car.getIdCar()})}">-->
            <!--<button type="button" class="btn btn-primary">-->
            <!--Book-->
            <!--</button>-->
            <!--</a>-->
            <!--</div>-->
        </div>
    </div>
</div>

</div>
<th:block th:replace="fragments :: footer" th:remove="tag"/>
<th:block th:replace="fragments :: scripts" th:remove="tag"/>
</body>
</html>