<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Rentals</title>
    <th:block th:replace="fragments :: link-styles" th:remove="tag"/>
</head>
<body>
<th:block th:replace="fragments :: navigator" th:remove="tag"/>
<div class="container">
    <h1>CarRents list</h1>
    <div class="row col-md-12">
        <div class="row col-md-12 list-header-row">
            <div class="col-1">RentCar id</div>
            <div class="col-1">Client name</div>
            <div class="col-2">Client surname</div>
            <div class="col-2">Car</div>
            <div class="col-2">Date start</div>
            <div class="col-1">Hire days</div>
            <div class="col-1" sec:authorize="hasRole('MANAGER')">Income</div>
            <div class="col-2"><!--Buttons--></div>
        </div>
        <div th:each="carRent : ${carRents}" class="row col-md-12 list-data-row">
            <!--<div class="col-1" th:if="${!booking.isAccepted()}" th:text="${booking.getIdBooking()}"></div>-->
            <div class="col-1" th:text="${carRent.getIdCarRent()}"></div>
            <div class="col-1" th:text="${carRent.getBooking().getClient().getName()}"></div>
            <div class="col-2" th:text="${carRent.getBooking().getClient().getSurname()}"></div>
            <div class="col-2" th:text="${carRent.getBooking().getCar().getName()}"></div>
            <div class="col-2" th:text="${carRent.getBooking().getDateStart()}"></div>
            <div class="col-1" th:text="${carRent.getBooking().getHiresDays()}"></div>
            <div class="col-1" sec:authorize="hasRole('MANAGER')" th:text="${carRent.getIncome()}"></div>
            <!--<div class="col-2" th:text="${carRent.getCar().getName()}"></div>-->
            <!--<div class="col-1" th:text="${carRent.isCanceled()}"></div>-->
            <div class="row col-2">
                <div class="col-12">
                    <a th:if="${!carRent.isCarReturned()}" th:href="@{/carReturn/add_carReturn(idCarRent=${carRent.getIdCarRent()})}">
                        <button type="button" class="btn btn-danger">
                                Car Return
                        </button>
                    </a>
                </div>
                <!--<div class="col-4">-->
                    <!--<a th:href="@{/car/edit(carId=${car.getIdCar()})}">-->
                        <!--<button type="button" class="btn btn-primary">-->
                            <!--Edit-->
                        <!--</button>-->
                    <!--</a>-->
                <!--</div>-->
                <!--<div class="col-4">-->
                    <!--<a th:href="@{/car/details(carId=${car.getIdCar()})}">-->
                        <!--<button type="button" class="btn btn-primary">-->
                            <!--Details-->
                        <!--</button>-->
                    <!--</a>-->
                <!--</div>-->
            </div>
        </div>

        <div class="row col-md-12 justify-content-center">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item" th:if="${carRents.getNumber() >0}">
                        <a class="page-link"
                           th:href="@{/carRent/list_carRents(page=${carRents.getNumber()-1}, size=${carRents.getSize()})}">Previous</a>
                    </li>
                    <li class="page-item"
                        th:each="number : ${#numbers.sequence(carRents.getNumber()-3, carRents.getNumber()-1)}"
                        th:if="${number >=0}">
                        <a class="page-link" th:href="@{/carRent/list_carRents(page=${number}, size=${carRents.getSize()})}"
                           th:text="${number + 1}"></a>
                    </li>
                    <li class="page-item"
                        th:each="number : ${#numbers.sequence(carRents.getNumber(), carRents.getNumber()+3)}"
                        th:if="${number< carRents.getTotalPages()}">
                        <a class="page-link" th:href="@{/carRent/list_carRents(page=${number}, size=${carRents.getSize()})}"
                           th:text="${number + 1}"></a>
                    </li>
                    <li class="page-item" th:if="${carRents.getNumber() < carRents.getTotalPages()-1}">
                        <a class="page-link"
                           th:href="@{/carRent/list_carRents(page=${carRents.getNumber()+1}, size=${carRents.getSize()})}">Next</a>
                    </li>
                </ul>
            </nav>
        </div>

    </div>
</div>
<th:block th:replace="fragments :: footer" th:remove="tag"/>
<th:block th:replace="fragments :: scripts" th:remove="tag"/>
</body>
</html>